.steplist {
    width: 50em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid black;
}

.stepDesc {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timeestimate {
    margin-left: 5em;
}